<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/loginsignup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
  <div class="wrapper">
	<div class="logo"><img src="static/img/logo.png"></img></div>
    <div class="container main">
        <div class="row">
            <div class="col-md-6 left">
                       
                <!-------------      image     ------------->
                <span>Welcome to <span>Carrier+</span></span>
				<span style="display:flex">Select type employee or employer</span>
                
                
                
            </div>

            <div class="col-md-6 right">
                
                <div class="input-box">
                   
                   <header style="font-size: 30px;">Login</header>
                   
                   <!-- Form with post action -->
                   <form method="post" action="{{url_for('loginuser')}}">
                       <div class="input-field">
                            <input type="email" class="input" id="email" name="email" required="" autocomplete="off">
                            <label for="email">Email</label> 
                        </div> 
                       <div class="input-field">
                            <input type="password" class="input" id="pass" name="password" required="">
                            <label for="pass">Password</label>
                        </div>
                        <div id="errmessage"></div>

                        <div class ="rad">
                            <input type="radio" class="radio-button" id ="employee" label="Employee" name="radiobtn" value="Employee">
                            <input type="radio" class="radio-button" label="Employer"  id ="employer" name="radiobtn" value="Employer" required="">
                            <!-- Hidden input field to store selected option -->
                            <input type="hidden" id="selected_option" name="selected_option" value="Employee" required="">
                        </div> 
						 
                       <div class="input-field">
                            <input type="submit" class="submit" value="Login">
                       </div> 
                   </form>
                   <!-- End of Form -->
                   <!-- login.html -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}" style="color:red">{{ message }}</div>
  {% endfor %}
{% endif %}
{% endwith %}

                   
                   
                   <div class="signin">
                    <span>New to Career+? <a href="{{url_for('signup')}}">Signup here</a></span>
                   </div>
                </div>  
            </div>
        </div>
    </div>
</div>
<script>
    //for dom mapulation 
 document.querySelectorAll('.radio-button').forEach((radio) => {
     radio.addEventListener('change', function() {
         if (this.checked && this.id === 'employee') {
             Functionchange1();
         } else if (this.checked && this.id === 'employer') {
             // Do something else when employer is selected
             Functionchange2();
         }
     });
 });
 
 function Functionchange1() {
     // Your function code here
     console.log("Start function triggered! employee ");
     document.querySelector('.left span:nth-child(2)').innerHTML = "Login in as a <b> <h4>Employee<h4><b>";
 }
 
 function Functionchange2() {
     // Your function code here
     console.log("Start function triggered! employee ");
     document.querySelector('.left span:nth-child(2)').innerHTML = "Signing up as a <b> <h4>Employer<h4><b>";
 }

//  window.onload = function() {
//     var errorMessage = "{{ get_flashed_messages(with_categories=true) | first }}";  // Get the flash message from Flask
//     if (errorMessage) {
//         alert("password and email doesnot match");  // Show the error message in a popup
        
//         // Hide the alert message after 5 seconds (5000 milliseconds)
//         setTimeout(function() {
//             document.querySelector('.alert').style.display = 'none';
//         }, 5000);
//     }
// };



 
 
     </script>
</body>
</html>
